<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/bs5/les-1.css">
    <title>Example App</title>
</head>

<body>
<div class="container">
    <header class="header row">
        <div class="col-3">
            <div class="blok">логотип</div>
        </div>
        <div class="col">
            <div class="blok">Навигация</div>
        </div>
    </header>
<selection class="promo row">
    <div class = "col-6">
        <div class="blok">промо текст</div>
    </div>
    <div class = "col-6">
        <div class="blok">промо фото</div>
    </div>
</selection>
<selection class="clients row">
    <div class="col-2">
        <div class="blok">клиент</div>
    </div>
    <div class="col-2">
        <div class="blok">клиент</div>
    </div>
    <div class="col-2">
        <div class="blok">клиент</div>
    </div>
    <div class="col-2">
        <div class="blok">клиент</div>
    </div>
    <div class="col-2">
        <div class="blok">клиент</div>
    </div>
    <div class="col-2">
        <div class="blok">клиент</div>
    </div>
</selection>
<div class="selection prising row">
    <div class="col-4">
        <div class="blok">цена</div>
    </div>
    <div class="col-4">
        <div class="blok">цена</div>
    </div>
    <div class="col-4">
        <div class="blok">цена</div>
    </div>
</div>
<div class="selection team row">
    <div class="col-3">
        <div class="blok">сотрудник</div>
    </div>
    <div class="col-3">
        <div class="blok">сотрудник</div>
    </div>
    <div class="col-3">
        <div class="blok">сотрудник</div>
    </div>
    <div class="col-3">
        <div class="blok">сотрудник</div>
    </div>
</div>
<div class="footer footer row">
    <div class="col-4">
        <div class="blok">социалки</div>
    </div>
    <div class="col-3">
        <div class="blok">контакты</div>
    </div>
    <div class="col-5">
        <div class="blok">форма</div>
    </div>
</div>
</div>
</body>

</html>


